{block submenu}
	{include '../postsubmenu.latte'}
{/block}
{block content}
	{dump $post}
	<h1 n:block="title">Novinky</h1>
	<h2>{$post->nadpis}</h2>
	<p class="text-justify">{$post->clanek|noescape}</p>
{/block}

