<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- responsive meta tag -->

	<link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/custom.css">

	<script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
	<script type="text/javascript" src="{$basePath}/js/bootstrap.bundle.js"></script>

	<title>{ifset title}{include title|stripHtml}{/ifset} | BK Přelouč</title>

</head>

<body>

<body>
<!-- <div class="main container pb-3 mb-3"> -->
{include content}

{block scripts}
{/block}
<!-- </div> -->
</body>
</html>
